---

import Bubble from '../components/ui/Bubble.astro';
import LoginForm from '../components/auth/login';

---
  <Bubble cls="w-96 justify-center m-auto mt-10">
    <p>Login</p>
    <LoginForm client:load/> 
  </Bubble>

