---
const { title } = Astro.props
---

<main
  class="flex flex-col overflow-y-auto justify-between size-full rounded-xl shadow-lg"
>
  <div class="place-items-center h-full grid-cols-[1fr_1fr]">
    <h1 class="text-5xl text-gradient">{title}</h1>
    <slot />
  </div>
</main>
