---
import Card from './Card.astro'
import type { CardIntList } from '../../../types/Card'
let { cards } = Astro.props as CardIntList
---

<div class="grid lg:grid-cols-1  gap-4">
  {cards.map((crd) => <Card card={crd} />)}
</div>
