---
import type { CardInt } from '../../types/Card'
const { card } = Astro.props as { card: CardInt }
---

<li class="m-2 animate rounded-lg list-none h-100 hover:bg-slate-300 w-full">
  <a href={card.link} class="h-full w-full">
    <div class="animate h-full rounded-lg border-2 border-orange-400 p-4">
      <h2 class="text-3xl text-slate-900">{card.title}</h2>
      <p class="text-slate-600">{card.description}</p>
    </div>
  </a>
</li>

<style>
  .animate {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @keyframes breathe {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  .animate:hover {
    animation: breathe 2s infinite;
  }
</style>
