---

---

<script type="module">
  const query = `
    query getTotal {
      totalColis {
        TOTAL_COLIS
      }
      totalPoids {
        TOTAL_POIDS
      }
}
  `;

  fetch("http://localhost:4000/graphql", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ query }),
  })
    .then((response) => response.json())
    .then((response) => {
      console.log(response); // Log the entire response
      if (response.errors) {
        console.error("GraphQL errors:", response.errors);
      }
      return response.data; // Continue working with the data as before
    })
    .then((data) => {
      // Assuming data now contains the expected object
      console.log(data);
      if (data && data.totalPoids && data.totalColis) {
        document.querySelector("#poids").textContent =
          data.totalPoids.TOTAL_POIDS;
        document.querySelector("#colis").textContent =
          data.totalColis.TOTAL_COLIS;
      }
    })

    .catch((error) => console.error("Network error:", error));
</script>

<div class="flex flex-col items-center justify-center">
  <h1>data from server</h1>
  <p>Poids: <span id="poids"></span></p>
  <p>Colis: <span id="colis"></span></p>
</div>
