---
import Bubble from "./Bubble.astro"
let liCssString = "mt-2  w-48 h-10 "
let aCssString = "block text-xl text-slate-500 px-10 border  rounded-xl   text-center  hover:bg-orange-400 hover:text-white"
let titleCssString = "pt-4 semi-bold text-xl text-orange-400 pt-10"
import Li from "./Li.astro"
---

<aside class=" h-full" >
    <Bubble cls ="h-full w-52  px-2 justify-center">
        <ul id = "links">
            <p class={titleCssString}> Navigation</p>
            <Li href="/etats" text="Etats"/>
            <Li href="/statistiques" text="Statistiques"/>
            <Li href="/resultats" text="Resultats"/>
            


            <p class={titleCssString}> Encodage</p>
            <Li href="/affaire" text="Affaire"/>
            <Li href="/caisse" text="Caisse"/>

            <p class={titleCssString}> Base de Données</p>
            <Li href="/affaires" text="Affaire"/>
            <Li href="/caisses" text="Caisse"/>
            <Li href="/clients" text="Clients"/>
            <p class={titleCssString}> Outils</p>
            
            <Li href="/affaire" text="Billetage"/>
            
        </ul>
    </Bubble>
</aside>

